{% extends "../base/base.html" %}
{% block title %}Track Case{% endblock %}
{% load static %}
{% block content %}
<div class="container pt-5 pb-5">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'home' %}"><button type="button" class="btn-close d-flex ms-auto" aria-label="Close"></button></a>
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6 text-center">
                    <img src= "{% static '/img/track_case.png' %}" class="img-fluid" alt="image" style="width:450px;">
                </div>
                <div class="col-12 col-lg-6 col-md-6 pt-5">
                    <h2 class="text-center pt-3 pb-3">Track Case</h2>
                        <form id="trackForm" method="post">
                            {% csrf_token %}
                            <div class="row pb-2">
                               <!--  <div class="col-lg-12 col-md-12 col-sm-8 pt-2">
                                    <label for="email" class="form-label">Enter your Email that was Assocaited with the Case: </label>
                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailFeedback">
                                    <div id="emailFeedback" class="invalid-feedback">
                                        No Account Associated with any Case.
                                    </div>
                                    invalid feedback
                                </div> -->
                                <div class="container col-lg-12 col-md-12 col-sm-8">
                                    {% if twilio_type == 'local' %}
                                        <div class="form-label mb-4">Use your Email that was Associated with the Case.</div>
                                    {% else %}
                                        <div class="form-label mb-4">Use your Email or Phone that was Associated with the Case.</div>
                                    {% endif %}

                                    <ul class="nav nav-underline mb-3" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-panel" type="button" role="tab" aria-controls="email" aria-selected="true">Email</button>
                                        </li>
                                        <li class="nav-item {% if twilio_type == 'local' %}d-none{% endif %}" role="presentation">
                                            <button class="nav-link" id="phone-tab" data-bs-toggle="tab" data-bs-target="#phone-panel" type="button" role="tab" aria-controls="phone" aria-selected="false">Phone</button>
                                        </li>                                        
                                    </ul>

                                    
                                    <div class="tab-content mb-3" id="myTabContent">
                                        <div class="tab-pane fade show active" id="email-panel" role="tabpanel" aria-labelledby="email-tab">
                                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailFeedback" placeholder="example@email.com">
                                            <div id="emailFeedback" class="invalid-feedback err-msg-email">
                                                No Account Associated with any Case.
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="phone-panel" role="tabpanel" aria-labelledby="phone-tab">
                                            <div class="input-group" aria-describedby="phoneFeedback">
                                                <span class="input-group-text">+63</span>
                                                <input type="text" class="form-control" id="phone" name="phone"  placeholder="987 654 3210" maxlength="10">
                                            </div>
                                            <div id="phoneFeedback" class="invalid-feedback err-msg-phone">
                                                No Account Associated with any Case.
                                            </div>
                                        </div>
                                        <div>
                                            <label for="case_num" class="form-label mt-3" style="color: #8a2be2; font-weight: bold;"> Case Number</label>
                                            <input type="number" class="form-control" id="case_num" name="case_num" aria-describedby="casefeedback" placeholder="000">
                                            <div id="caseFeedback" class="invalid-feedback err-msg-case">
                                                No case with this Case Number.
                                            </div>
                                        </div>


                                    </div>
                                    <div class="g-recaptcha d-flex justify-content-center" data-callback="err_captcha_reset" data-sitekey="{{ site_key }}"></div>
                                    <div class="err-msg-recaptcha fs-7 text-danger"></div>
                                    <button id="submitButton" class="btn btn-primary w-100 mb-4 mt-3 d-flex justify-content-center align-items-center" type="submit" >
                                        <span>Track Case</span>
                                        <div class="spinner-border text-light position-absolute" role="status" style="display: none;">
                                        </div>
                                    </button>
                                </div>
                            </div><!--First row-->
                            <div class="col-12 col-md-12 col-sm-8">
                                {% comment %} </button> {% endcomment %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="otpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otpModalToggleLabel">One-Time Password Verification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="text-center">Please enter the one-time password to verify your account</h6>
                <div class="text-center mt-3">
                    <span>A code has been sent to</span>
                    <small id="hidden_email">*****gmail.com</small>
                </div>
                <form id="otpForm" method="post">
                    {% csrf_token %}
                    <div id="otp" class="inputs d-flex justify-content-center mt-4">
                        <input class="m-2 text-center form-control rounded" type="text" name="otp_1" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="otp_2" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="otp_3" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="otp_4" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="otp_5" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="otp_6" maxlength="1" />
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary px-4" type="submit">Validate</button>
                    </div>
                    <div class="text-center mt-3 text-danger" style="display: none;">
                        <i class='bx bx-error-circle'></i>
                        <span id="otpErrorMessage"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="content d-flex justify-content-center align-items-center">
                    <span id="resendText">Didn't get the code</span>
                    <a href="#" id="resendButton" class="text-decoration-none ms-3">Resend</a>
                    <span id="resendTimer" class="text-decoration-none ms-3"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3 text-light">
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark" style="background-color:#899499;">
            <img src="{% static 'img/ecs-no-bg-2.png' %}" class="rounded me-2" alt="..." style="width:20px;">
            <strong class="me-auto text-dark">Success</strong>
            <small>Just Now</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
        </div>
    </div>
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark" style="background-color:#899499;">
            <img src="{% static 'img/ecs-no-bg-2.png' %}" class="rounded me-2" alt="..." style="width:20px;">
            <strong class="me-auto text-dark">Error</strong>
            <small>Just Now</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function() {

        // email confirmation
        $('#trackForm').submit(function(e) {
            e.preventDefault(); // Prevent the default form submission

            $('.spinner-border').show();
            $('#submitButton').prop('disabled', true);
        
            // Get the email value from the input field
            var emailValue = $('#email').val();
            var phoneValue = $('#phone').val();
            let contactValue = '';
            
            
            // For example, you can log it to the console
            console.log("Email entered: " + emailValue);
            console.log("Phone entered: " + phoneValue);

            // Determine what url endpoint to use, either for email or phone
            let requestURL = ''
            if(get_contact_type() == 'email') {
                requestURL = "{% url 'check_email_case' %}"
                contactValue = isvalid_email(emailValue)
            } else if (get_contact_type() == 'phone') {
                requestURL = "{% url 'check_phone_case' %}"
                contactValue = isvalid_phone_number(phoneValue)
            }
            
            

            // Check recaptcha if puzzle is solved
            const captchaRes = grecaptcha.getResponse()
            if(!captchaRes.length > 0) {
                $('.g-recaptcha').children().css('border', '1px solid red')
                $('.err-msg-recaptcha').text('You need to solve captcha first')
                $('.spinner-border').hide();
                $('#submitButton').prop('disabled', false);
                throw new Error('reCAPTCHA validation failed')
            }
            
        
            // AJAX request to check if the email exists
            $.ajax({
                url: requestURL, // Modify the URL to point to your Django view endpoint
                type: 'POST',
                data: { contact: contactValue }, // Pass the email value in the data object
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token using Django's template syntax
                },
                success: function(response) {
                    // Handle success response
                    console.log(response); // Log the response to the console
                    
                    $('.spinner-border').show();
                    $('#submitButton').prop('disabled', true);

                    // Server-side validation response
                    if (!response.success) {
                        
                        if(get_contact_type() == 'email') {
                            $('#email').addClass('is-invalid')
                            $('.err-msg-email').text(response.message)
                        } else if (get_contact_type() == 'phone') {
                            $('#phone').addClass('is-invalid')
                            $('#phone').parent().addClass('is-invalid')
                            $('.err-msg-phone').text(response.message)
                        }


                        
                        $('.spinner-border').hide();
                        $('#submitButton').prop('disabled', false);
                        
                        throw new Error(response.message)
                    }
                    

                    if (response.success) {

                        // Validate case number
                        requestURL = "{% url 'check_case_number' %}"
                        case_num = isvalid_case_number($('#case_num').val())

                        // AJAX request to check if the case exists
                        $.ajax({
                            url: requestURL, // Modify the URL to point to your Django view endpoint
                            type: 'POST',
                            data: { contact: case_num }, // Pass the case value in the data object
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token using Django's template syntax
                            },
                            success: function(response) {
                                
                                if(!response.success){
                                    $('.err-msg-case').text(response.message_case)
                                    $('.spinner-border').hide();
                                    $('#submitButton').prop('disabled', false);
                                    $('#case_num').addClass('is-invalid')
                                    $('#case_num').parent().addClass('is-invalid')
                                    

                                    throw new Error(response.message_case)
                                }else{

                                    
                                    // If email exists in the database, proceed with email confirmation
                                    let requestURL = ''
                                    if(get_contact_type() == 'email') {
                                        requestURL = "{% url 'email_confirm' %}"
                                    } else if (get_contact_type() == 'phone') {
                                        requestURL = "{% url 'phone_confirm' %}"
                                    }

                                    $.ajax({
                                        url: requestURL, // Modify the URL to point to your Django view endpoint
                                        type: 'POST',
                                        data: { contactConfirm: contactValue, 'g-recaptcha-response': grecaptcha.getResponse() }, // Pass the email value in the data object
                                        headers: {
                                            'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token using Django's template syntax
                                        },
                                        success: function(response) {
                                            // Handle success response
                                            console.log(response); // Log the response to the console

                                            // Check if reCAPTCHA serverside validation is not successful
                                            if (!response.success) {
                                                $('.spinner-border').hide();
                                                $('#submitButton').prop('disabled', false);
                                                $('#email').val('');
                                                throw new Error('reCaptcha validation failed')
                                            }

                                            const userEmail = $('#email').val();
                                            if (userEmail) {
                                                // Hide part of the email
                                                const hiddenEmail = userEmail.replace(/^(.)(.*)(@.*)$/, (match, p1, p2, p3) => {
                                                    return p1 + '*'.repeat(p2.length) + p3;
                                                });

                                                $('#hidden_email').text(hiddenEmail);
                                            }

                                            // Show the OTP modal
                                            $('#otpModal').modal('show');
                                            $('.spinner-border').hide();
                                            $('#submitButton').prop('disabled', false);
                                        },
                                        error: function(xhr, textStatus, errorThrown) {
                                            console.error('Error:', errorThrown);
                                            // Show error toast if response indicates failure
                                            showToast('error', 'An error occurred. Please try again.');
                                        }
                                    });
                                }
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                console.error('Error:', errorThrown);
                                // Show error toast if response indicates failure
                                showToast('error', 'An error occurred. Please try again.');
                            }
                        });

                        
                    } else {
                         // If email doesn't exist in the database, show an error message
                        //showToast('error', 'Email not found. Please enter a valid email.');
                        // Add is-invalid class to the email input field
                        // $('#email').addClass('is-invalid');
                        if(get_contact_type() == 'email') {
                            $('#email').addClass('is-invalid');
                        } else if (get_contact_type() == 'phone') {
                            $('#phone').parent().addClass('is-invalid');
                            $('#phone').addClass('is-invalid');
                        }
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                    // Show error toast if response indicates failure
                    showToast('error', 'An error occurred. Please try again.');
                }
            });
        });

        $('#otp input').on('input', function () {
            const value = $(this).val();
            if (value && value.length === 1) {
                // Move to the next input if there's a next one
                $(this).next('input').focus();
            } else if (!value) {
                // Move to the previous input if backspacing
                $(this).prev('input').focus();
            }
        });

        $('#otp input').on('keydown', function (e) {
            if (e.key === 'Backspace' && !$(this).val()) {
                // Move to the previous input on backspace
                $(this).prev('input').focus();
            }
        });

        $('#otpModal').on('hidden.bs.modal', function () {
//            location.reload();
        });

        // otp checking
        $('#otpForm').submit(function(e) {
            e.preventDefault(); // Prevent the default form submission
            var formData = $(this).serialize();

            let requestURL = ''
            if(get_contact_type() == 'email') {
                requestURL = "{% url 'verify_otp_email_track_case' %}"
            } else if (get_contact_type() == 'phone') {
                requestURL = "{% url 'verify_otp_phone_track_case' %}"
            }
            
            $.ajax({
                type: 'POST',
                url: requestURL,
                data: formData,
                success: function(response) {
                    if (response.success) {
                        
                        //$('#successMessage').text(response.message);
                        $('.toast-body').text('OTP verification successful.');
                        $('#successToast').toast('show');
                        // hide otp modal
                        $('#otpModal').modal('hide');
                        
                        
                        var emailValue = $('#email').val();
                        var phoneValue = $('#phone').val();
                        console.log("Email entered(OTP): " + response.user_email);
                        console.log("Phone entered(OTP): " + response.user_phone);
                        // Log success message to the console
                        console.log('OTP verification successful.');
                        // Access and log the token to the console
                        console.log('Token:', response.token);

                        // Get the URL for track_case_info view with placeholders for user_email and token
                        var trackCaseInfoUrl = "{% url 'track_case_info' contact_type='__contact_type__'  user_contact='__user_contact__' case_num='__case_num__' token='__token__' %}";

                        // Replace the placeholders with actual values obtained from the response
                        if(get_contact_type() == 'email') {
                            trackCaseInfoUrl = trackCaseInfoUrl.replace('__user_contact__', response.user_email);
                        } else if (get_contact_type() == 'phone') {
                            trackCaseInfoUrl = trackCaseInfoUrl.replace('__user_contact__', response.user_phone);
                        }
                        trackCaseInfoUrl = trackCaseInfoUrl.replace('__contact_type__', get_contact_type());
                        trackCaseInfoUrl = trackCaseInfoUrl.replace('__token__', response.token);
                        trackCaseInfoUrl = trackCaseInfoUrl.replace('__case_num__', $('#case_num').val());
                        setTimeout(function() {
                            window.location.href = trackCaseInfoUrl;
                        }, 3000);
                    } else {
                        console.log('i am here in trackcase.html but eeror');
                        $('#otpErrorMessage').text(response.message);
                        if (response.message === 'OTP has expired.' || response.message === 'Incorrect OTP.') {
                            $('.text-danger').show(); // Show the error message div
                        }
                    }
                },
                error: function(xhr, errmsg, err) {
                    $('#otpErrorMessage').text('Error occurred. Please try again.');
                    // Log error message to the console
                    console.error('Error occurred during OTP verification:', errmsg);
                }
            });
        });

        // Prevent character inputs other than numbers in the phone input element
        $('#phone').on('input', function() {
            // Remove any non-numeric character
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });

        // Function to update the countdown timer
        function updateTimer(seconds) {
            $('#resendTimer').text(`Resend ${seconds}s`);
        }

        // Function to handle the resend action
        function resendOTP() {
            // Disable the resend button
            $('#resendButton').prop('disabled', true);
            // Hide the resend button
            $('#resendButton').hide();

            // Set the initial timer value
            let secondsRemaining = 30;
            updateTimer(secondsRemaining);

            // Start the countdown
            const timerInterval = setInterval(() => {
                secondsRemaining--;
                updateTimer(secondsRemaining);
                if (secondsRemaining === 0) {
                    // Enable the resend button and clear the timer
                    clearInterval(timerInterval);
                    $('#resendButton').prop('disabled', false);
                    $('#resendButton').show(); // Show the resend button
                    $('#resendTimer').text('');
                }
            }, 1000);

            let requestURL = ''
            if(get_contact_type() == 'email') {
                requestURL = '{% url "resend_otp_email" %}'
            } else if(get_contact_type() == 'phone') {
                requestURL = '{% url "resend_otp_phone" %}'
            } else {
                throw new Error('Error retrieving contact type')
            }
            // Send AJAX request to resend OTP
            $.ajax({
                type: 'GET',
                url: requestURL,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // Include CSRF token in the headers
                success: function(response) {
                    // Handle success response if needed
                },
                error: function(xhr, errmsg, err) {
                    console.error('Error occurred during OTP resend:', errmsg);
                }
            });
        }

        // Click event handler for the resend button
        $('#resendButton').click(function(event) {
            event.preventDefault();
            resendOTP();
        });


        function get_contact_type() {
            if(document.querySelector('#email-tab').classList.contains('active')) {
                return 'email'
            } else if (document.querySelector('#phone-tab').classList.contains('active')) {
                return 'phone'
            } else {
                return false
            }
        }


        // Client side validation
        function isvalid_phone_number(number) {
            console.log(typeof number)
            $('.spinner-border').hide();
            $('#submitButton').prop('disabled', false);
            if(/^\d+$/.test(number) && number.length === 10) {
                console.log('Phone number isvalid')
                return number
            } else if (number.trim().length <= 0) {
                $('.err-msg-phone').text('Please enter your phone number')
                $('#phone').parent().addClass('is-invalid')
                throw new Error('No input detected')
            } else {
                $('.err-msg-phone').text('Invalid phone number')
                $('#phone').parent().addClass('is-invalid')
                throw new Error('Invalid phone number')
            }
        }
        function isvalid_email(email) {
            if(email.trim().length <= 0) {
                $('.err-msg-email').text('Please enter your email')
                $('#email').addClass('is-invalid')
                $('.spinner-border').hide();
                $('#submitButton').prop('disabled', false);
                throw new Error('No input detected')
            } else {
                $('#email').removeClass('is-invalid')
                return email
            }
        }
        function isvalid_case_number(case_num) {
            if(case_num.trim().length <= 0) {
                $('.err-msg-case').text('Please enter your case number')
                $('#case_num').addClass('is-invalid')
                $('.spinner-border').hide();
                $('#submitButton').prop('disabled', false);
                throw new Error('No input detected')
            } else {
                $('#case_num').removeClass('is-invalid')
                return case_num
            }
        }

        $('#case_num').on('input', function() {
            // Remove any non-numeric character
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
    });
    
    function err_captcha_reset() {
        $('.g-recaptcha').children().css('border', 'none')
        $('.err-msg-recaptcha').text('')
    }
</script>
{% endblock scripts %}