{% extends "../base/base_admin.html" %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block styles %}
<link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Dashboard</h1>
        <div class="d-flex align-items-center gap-3">
            <div class="spinner-border-sm test-primary" id="select-year-data-loading" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <select name="" id="select-year-data" class="form-select w-auto" disabled>
                <option value="0">All year</option>
                {% for year in year_list %}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 mb-4 align-items-stretch">
      <div class="col">
        <div class="border rounded p-2 shadow-sm h-100">
          <span>Reported Cases</span>
          <div class="fw-bold fs-6 text-color-primary" id="total-cases">-</div>
        </div>
      </div>
      <div class="col">
        <div class="border rounded p-2 shadow-sm h-100">
          <span>Ongoing Cases</span>
          <div class="fw-bold fs-6 text-color-primary" id="ongoing-cases">-</div>
        </div>
      </div>
      <div class="col">
        <div class="border rounded p-2 shadow-sm h-100">
          <span>Resolved Cases</span>
          <div class="fw-bold fs-6 text-color-primary" id="resolved-cases">-</div>
        </div>
      </div>
      <div class="col">
        <div class="border rounded p-2 shadow-sm h-100">
          <span>w/ Criminal Cases</span>
          <div class="fw-bold fs-6 text-color-primary" id="cases-w-criminal-cases">-</div>
        </div>
      </div>
      <div class="col">
        <div class="border rounded p-2 shadow-sm h-100 d-flex justify-content-between">
            <div>
                <span>w/ PO</span>
                
            </div>
            <div class="">
                <div class="fw-bold fs-2 text-color-primary">BPO: <span id="bpo">-</span></div>
                <div class="fw-bold fs-2 text-warning">TPO: <span id="tpo">-</span></div>
                <div class="fw-bold fs-2 text-success">PPO: <span id="ppo">-</span></div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="border rounded p-2 shadow-sm h-100">
          <span>Services Provided</span>
          <div class="fw-bold fs-6 text-color-primary" id="services-provided">-</div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-6 col-md-4 mb-4 mx-auto">
        <h2 class="fs-4 mb-3">No. of cases per province</h2>
        <canvas id="pie-cases-per-province"></canvas>
      </div>
      <div class="col-12 col-md-8 mb-4">
        <h2 class="fs-4 mb-3">No. of cases per RA</h2>
        <canvas id="bar-cases-per-ra"></canvas>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mb-4">
		<div class="col mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-4" id="bar-cases-title">Cases by City</h2>
                <button class="btn btn-outline-primary fs-1" id="backto-city-cases" style="visibility: hidden;">Back</button>
            </div>
			<canvas id="bar-cases-by-city"></canvas>
		</div>
		<div class="col mb-3">
            <h2 class="fs-4">Cases by Month</h2>
        	<canvas id="bar-cases-by-month"></canvas>
      	</div>
    </div>
	<!-- Cases Table -->
    <div class="row">
      	<div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-auto d-flex align-items-center mb-2">Filter by</div>
                <div class="col-6 col-md-2 mb-2">
                    <select id="barangay-filter" class="form-select">
                        <option value="">All Barangay</option>
                    </select>
                </div>
                <div class="col-6 col-md-2 mb-2">
                    <select id="filter-ra-select" class="form-select">
                        <option value="">All RA</option>
                        <option value="RA 9262">RA 9262</option>
                        <option value="RA 8353">RA 8353</option>
                        <option value="RA 7877">RA 7877</option>
                        <option value="RA 7610">RA 7610</option>
                        <option value="RA 9775">RA 9775</option>
                    </select>
                </div>
                <div class="col-6 col-md-2 mb-2">
                    <select id="gender-filter" class="form-select">
                        <option value="">All Gender</option>
                    </select>
                </div>
                <div class="col-6 col-md-2 mb-2">
                    <select id="age-filter" class="form-select">
                        <option value="0-999">All Ages</option>
                        <option value="0-12">0-12</option>
                        <option value="13-17">13-17</option>
                        <option value="18-999">18+</option>
                    </select>
                </div>
            </div>
		
			<div class="pt-4 ">
				<table class="table table-striped table-hover responsive nowrap" id="cases-table" style="width: 100%">
					<thead class="">
						<tr>
							<th scope="col" class="all text-center">Case #</th>
							<th scope="col" class="all">Victim</th>
							<th scope="col" class="all">Vicitim Address</th>
							<th scope="col" class="all">Perpetrator</th>
							<th scope="col" class="all">Perpetrator Address</th>
							<th scope="col" class="all">RA Violation</th>
							<th scope="col" class="all">Victim Age</th>
							<th scope="col" class="all">Victim Gender</th>
							<th scope="col" class="none">Incident Address</th>
							<th scope="col" class="none">Incident Date</th>
						</tr>
					</thead>
					<tbody class="table-group-divider" id="cases-table-content">
					</tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Total Cases: </strong><span id="table-total-cases"></span></td>
                            <td><strong>Total Victims: </strong><span id="table-total-victim"></span></td>
                            <td></td>
                            <td><strong>Total Perpetrators: </strong><span id="table-total-perpetrator"></span></td>
                            <td></td>
                            <td><strong>Total RA Violations: </strong><span id="table-total-ra"></span></td>
                            <td></td>
                            {% comment %} <td id="table-total-gender"></td> {% endcomment %}
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
				</table>
			</div>
      	</div>
    </div>
</div>
{% endblock content %}
{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-html5-3.0.2/fh-4.0.1/r-3.0.2/sc-2.4.3/sp-2.3.1/datatables.min.js"></script>

<script>
$(document).ready(function() {
    // global vars
    const current_year = new Date().getFullYear();
    const caseTable = document.getElementById('cases-table-content');
    let annualCases = {}//JSON.parse('{{ annual_cases|escapejs }}')
    let cases_per_geography = [{name: '', count: '', cities: []}]//null //JSON.parse('{{ cases_per_geography|escapejs }}')
    let republic_acts = ''//JSON.parse('{{ republic_acts|escapejs }}')
    
    get_dashboard_data()

    let gender_types = []
    let default_barangay_options = []

    // Provinces pie chart
    //var ctx = document.getElementById('pie-cases-per-province').getContext('2d');
    var ctx = document.getElementById('pie-cases-per-province');
    const default_province_labels = cases_per_geography.map(province => province.name)
    const default_province_data = cases_per_geography.map(province => province.count)
    let current_province = ''
    let casePerProvince = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: default_province_labels,
            datasets: [{
                label: 'Cases',
                data: default_province_data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            onHover: (event, chartElement) => {
                event.native.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
            },
            responsive: true,
            plugins: {
                legend: false,
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });
    ctx.addEventListener('click', (click) => {

        const pie = casePerProvince.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true)
        selected_province = casePerProvince.config.data.labels[pie[0].index]

        if(pie.length) {

            let temp_cities = {}
            
            if (selected_province == current_province) {
                
                cases_per_geography.forEach(province => {
                    province.cities.forEach(city => {
                        if(city.count > 0) {
                            temp_cities[city.name] = city.count
                        }
                    })
                })
                current_province = ''
                changeBarangayFilter()
                $('#cases-table').DataTable().columns([8]).search('').draw();
                casesByCity.config.data.labels = Object.keys(all_cities_data)
                casesByCity.config.data.datasets[0].data = Object.values(all_cities_data)
                document.querySelector('#backto-city-cases').style.visibility = 'hidden'
            } else {

                cases_per_geography.forEach(province => {
                    if(province.name == selected_province) {
                        province.cities.forEach(city => {
                            if(city.count > 0) {
                                temp_cities[city.name] = city.count
                            }
                        })
                    }
                })
                current_province = selected_province
                changeBarangayFilter('province', selected_province)
                $('#cases-table').DataTable().columns([8]).search(`-${selected_province}`).draw();
                casesByCity.config.data.labels = Object.keys(temp_cities)
                casesByCity.config.data.datasets[0].data = Object.values(temp_cities)
            }
            
            $('#bar-cases-title').text('Cases by City')
            casesByCity.config.data.datasets[0].label = 'City Total'
            filtered_cities = temp_cities
            casesByCity.update()
        }
    });

    // RA bar chart
    var ctx = document.getElementById('bar-cases-per-ra').getContext('2d');
    //let republic_acts = null//JSON.parse('{{ republic_acts|escapejs }}')
    let barLabels = Object.keys(republic_acts)
    let barData = Object.values(republic_acts)
    var casePerRa = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: barLabels,
            datasets: [{
                label: 'Cases',
                data: barData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: false,
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });
 
    // Cities bar chart
    //var ctx = document.getElementById('bar-cases-by-city').getContext('2d');
    var ctx = document.getElementById('bar-cases-by-city');
    let all_cities_data = []
    //cases_per_geography.forEach(province => {
    //    province.cities.forEach(city => {
    //        if(city.count > 0) {
    //            all_cities_data[city.name] = city.count
    //        }
    //    })
    //})
    const default_city_labels = Object.keys(all_cities_data)
    const default_city_data = Object.values(all_cities_data)
    let filtered_cities = all_cities_data
    let current_city = ''
    var casesByCity = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: default_city_labels,
            datasets: [{
                label: 'City Total',
                data: default_city_data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            onHover: (event, chartElement) => {
                event.native.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: false,
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });
    ctx.addEventListener('click', (click) => {

        const bar = casesByCity.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true)

        // if chart is currently at barangay view, filter table based on clicked barangay
        if (casesByCity.config.data.datasets[0].label !== 'City Total') {

            var search_term = casesByCity.config.data.labels[bar[0].index]
            $('#cases-table').DataTable().columns([8]).search(`${search_term}-`).draw();
            return
        } else { // else currently at city view, filter table based on clicked city

            $('#bar-cases-title').text('Cases by Barangay')
            var search_term = casesByCity.config.data.labels[bar[0].index]
            $('#cases-table').DataTable().columns([8]).search(`-${search_term}-`).draw();
        }
        
        
        current_city = casesByCity.config.data.labels[bar[0].index]
        changeBarangayFilter('city', current_city)
        
        if(bar.length) {

            let temp_barangays = []
            cases_per_geography.forEach(province => {
                province.cities.forEach(city => {
                    if(city.name == current_city) {
                        city.barangays.forEach(barangay => {
                            if(barangay.count > 0) {
                                temp_barangays[barangay.name] = barangay.count
                            }
                        })
                    }
                })
            })
            
            casesByCity.config.data.labels = Object.keys(temp_barangays)
            casesByCity.config.data.datasets[0].data = Object.values(temp_barangays)
            casesByCity.config.data.datasets[0].label = 'Barangay Total'
            casesByCity.update()
            document.querySelector('#backto-city-cases').style.visibility = 'visible'
        }
    });

    // cases by city back button event listener
    document.querySelector('#backto-city-cases').addEventListener('click', (e) => {
        e.target.style.visibility = 'hidden'
        casesByCity.config.data.labels = Object.keys(filtered_cities)
        casesByCity.config.data.datasets[0].data = Object.values(filtered_cities)
        casesByCity.config.data.datasets[0].label = 'City Total'

        changeBarangayFilter('province', current_province)
        $('#bar-cases-title').text('Cases by City')
        $('#cases-table').DataTable().columns([8]).search(current_province).draw();
        casesByCity.update()
    })

    // Monthly cases line chart
    var ctx = document.getElementById('bar-cases-by-month').getContext('2d');
    //let annualCases = ''//JSON.parse('{{ annual_cases|escapejs }}')
    //const yearList = Object.entries(annualCases).map(([key, value]) => {
    //    return key;
    //});
    //yearList.sort((a, b) => b - a);
    let lineLabels = Object.keys(annualCases)
    let lineData = Object.values(annualCases)
    var casesByMonth = new Chart(ctx, {
        type: 'line',
        data: {
            labels: lineLabels,
            datasets: [{
                label: 'Cases',
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                data: lineData,
                borderWidth: 1,
                pointStyle: false,
                cubicInterpolationMode: 'monotone'
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: false,
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });
    /* const yearFilter = document.querySelector('#year-filter')
    yearList.forEach(year => {
        yearFilter.innerHTML += `<option value=${year}>${year}</option>`
    })
    document.querySelector('#year-filter').addEventListener('change', (e) => {
        const selected_year = e.target.value
        yearList.forEach(year => {
            if(selected_year == year) {
                casesByMonth.config.data.labels = Object.keys(annualCases[year])
                casesByMonth.config.data.datasets[0].data = Object.values(annualCases[year])
                casesByMonth.config.data.datasets[0].label = 'City Total'
                casesByMonth.update()
            }
        })
    }) */


    function changeBarangayFilter(geo_type, geo = false) {
        if(!cases_per_geography && !default_barangay_options) return;
        let temp_barangay_list = []

        if(geo_type == 'province' && geo) {
            cases_per_geography.forEach(province => {
                if(province.name === geo) {
                    province.cities.forEach(city => { 
                        city.barangays.forEach(barangay => {
                            if(barangay.count > 0) {
                                temp_barangay_list.push(barangay.name)
                            }
                        })
                    })
                }
            })
        } else if(geo_type == 'city' && geo) {
            cases_per_geography.forEach(province => {
                province.cities.forEach(city => {
                    if(city.name == geo) {
                        city.barangays.forEach(barangay => {
                            if(barangay.count > 0) {
                                temp_barangay_list.push(barangay.name)
                            }
                        })
                    }
                })
            })
        } else {
            temp_barangay_list = default_barangay_options
        }
        
        const barangayFilter = document.querySelector('#barangay-filter')

        barangayFilter.innerHTML = ''
        barangayFilter.innerHTML += `<option value="">All Barangay</option>`
        
        temp_barangay_list.forEach(barangay => {
            barangayFilter.innerHTML += `<option value="${barangay}">${barangay}</option>`
        })
    }

    async function get_dashboard_data(get_year = 0) {

        $('#select-year-data-loading').addClass('spinner-border')
        $('#select-year-data').prop('disabled', true) 
        const res = await fetch(`/admin-vawc/admin-dashboard-data/${get_year}/`)
        if(!res.ok) {
            return
        }
        const data = await res.json()
        $('#select-year-data-loading').removeClass('spinner-border')
        $('#select-year-data').prop('disabled', false)

        $('#total-cases').text(data.total_cases)
        $('#ongoing-cases').text(data.ongoing_cases)
        $('#resolved-cases').text(data.resolved_cases)
        $('#services-provided').text(data.services_provided)
        $('#services-provided').text(data.services_provided)
        $('#bpo').text(data.bpo_count)
        $('#tpo').text(data.tpo_count)
        $('#ppo').text(data.ppo_count)
        $('#cases-w-criminal-cases').text(data.cases_w_criminal_cases)

        annualCases = data.annual_cases
        cases_per_geography = data.cases_per_geography
        republic_acts = data.republic_acts
        all_cities_data = []

        // Pie - cases per province
        casePerProvince.config.data.datasets[0].data = cases_per_geography.map(province => province.count)
        casePerProvince.config.data.labels = cases_per_geography.map(province => province.name)
        casePerProvince.update()

        // Bar Hor - 
        casePerRa.config.data.datasets[0].data = Object.values(republic_acts)
        casePerRa.config.data.labels = Object.keys(republic_acts)
        casePerRa.update()

        // Bar Ver - city cases
        cases_per_geography.forEach(province => {
            province.cities.forEach(city => {
                if(city.count > 0) {
                    all_cities_data[city.name] = city.count
                }
            })
        })
        filtered_cities = all_cities_data
        casesByCity.config.data.datasets[0].data = Object.values(all_cities_data)
        casesByCity.config.data.labels = Object.keys(all_cities_data)
        casesByCity.update()

        // Line - 
        casesByMonth.config.data.datasets[0].data = Object.values(annualCases)
        casesByMonth.config.data.labels = Object.keys(annualCases)
        casesByMonth.update()

        render_table(data.cases_list)
    }
    

    function render_table(data) {

        $('#cases-table').DataTable().destroy()
        caseTable.innerHTML = ''
        default_barangay_options = []
        const today = new Date()

        data.forEach(case_item => {
            let victims = {
                names: [],
                addresses: [],
                genders: [],
                ages: [],
            }
            let perpetrators = {
                names: [],
                addresses: [],
            }
            let ra_violations = []
            
            if(case_item.data.checkbox_ra_8353) {
                ra_violations.push('RA 8353')
            }
            if(case_item.data.checkbox_ra_9262) {
                ra_violations.push('RA 9262')
            }
            if(case_item.data.checkbox_ra_7877) {
                ra_violations.push('RA 7877')
            }
            if(case_item.data.checkbox_ra_9775) {
                ra_violations.push('RA 9775')
            }
            if(case_item.data.checkbox_a_7610) {
                ra_violations.push('RA 7610')
            }
            
            case_item.victims.forEach((victim, index) => {

                victims.names.push(`${victim.first_name} ${victim.middle_name} ${victim.last_name}`)
                const birthDate = new Date(victim.date_of_birth);
                let age = today.getFullYear() - birthDate.getFullYear();
                const monthDifference = today.getMonth() - birthDate.getMonth();
                if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                if(!gender_types.includes(victim.sex)) {
                    gender_types.push(victim.sex)
                }
                victims.ages.push(age);
                victims.addresses.push(`${victim.barangay}-${victim.city}-${victim.province}`)
                victims.genders.push(victim.sex)
            })
            case_item.perpetrators.forEach((perpetrator, index) => {

                perpetrators.names.push(`${perpetrator.first_name} ${perpetrator.middle_name} ${perpetrator.last_name}`)
                perpetrators.addresses.push(`${perpetrator.barangay}-${perpetrator.city}-${perpetrator.province}`)
                if(!gender_types.includes(perpetrator.sex)) {
                    gender_types.push(perpetrator.sex)
                }
            })
            if(!default_barangay_options.includes(case_item.data.barangay)) {
                default_barangay_options.push(case_item.data.barangay)
            }

            caseTable.innerHTML += `
            <tr class="border-bottom border-2">
                <td class="text-center">${case_item.data.case_number}</td>
                <td>${victims.names.join(", ")}</td>
                <td>${victims.addresses.join(", ")}</td>
                <td>${perpetrators.names.join(", ")}</td>
                <td>${perpetrators.addresses.join(", ")}</td>
                <td>${ra_violations}</td>
                <td>${victims.ages}</td>
                <td>${victims.genders}</td> 
                <td>${case_item.data.barangay}-${case_item.data.city}-${case_item.data.province}</td> 
                <td>${case_item.data.date_added}</td> 
            </tr>
            `
        })
        // sets initial data of barangay filter dropdown
        if(default_barangay_options) {
            changeBarangayFilter()
        }
        // sets initial data of gender filter dropdown
        if(gender_types.length) {
            const genderFilter = document.querySelector('#gender-filter')
            genderFilter.innerHTML = ''
            genderFilter.innerHTML += `<option value="">All Gender</option>`
            
            gender_types.forEach(gender => {
                genderFilter.innerHTML += `<option value="${gender}">${gender}</option>`
            })
        }

        
        const casesTable = $('#cases-table').DataTable({
            dom: '<"d-flex justify-content-between align-items-center flex-column flex-md-row gap-3"<f><B>>' + 'tr' + '<"d-flex justify-content-between pt-3 align-items-center flex-column-reverse flex-md-row"<"mb-2"l><"mb-2"p>>',
            scrollX: true,
            responsive: true,
            fixedHeader: true,
            lengthMenu: [5, 10, 25, 50],
            pageLength: 20,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'VAWC Cases',
                    text: 'Excel',
                },
                {
                    extend: 'pdfHtml5',
                    title: 'VAWC Cases',
                    text: 'PDF',
                    orientation: 'landscape'
                }
            ],
            layout: {
                topStart: {
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ]
                }
            },
            columnDefs: [
                //{ responsivePriority: 1, targets: 0 },
                //{ responsivePriority: 2, targets: 1 },
                //{ responsivePriority: 9, targets: 2 },
                //{ responsivePriority: 2, targets: 3 },
                //{ responsivePriority: 2, targets: 8 },
            ],
            //order: [[4, 'desc']],
            //order: [[0, 'desc']],
        });
        

        casesTable.on('draw.dt', () => {

            function countTotal(arr) {
                counts = arr.map(data => {
                    if(data.length == 0) {
                        return 0
                    }
                    return data.split(',').length
                })
                return counts.reduce((accu, curr) => accu + curr, 0)
            }

            const case_rows = casesTable.column(0, { filter: 'applied' }).data().toArray()
            const victim_rows = casesTable.column(1, { filter: 'applied' }).data().toArray()
            const perpetrator_rows = casesTable.column(3, { filter: 'applied' }).data().toArray()
            const ra_rows = casesTable.column(5, { filter: 'applied' }).data().toArray()
            const gender_rows = casesTable.column(7, { filter: 'applied' }).data().toArray()


            $('#table-total-cases').text(countTotal(case_rows))
            $('#table-total-victim').text(countTotal(victim_rows))
            $('#table-total-perpetrator').text(countTotal(perpetrator_rows))
            $('#table-total-ra').text(countTotal(ra_rows))
            //$('#table-total-gender').text(countTotal(gender_rows))


        })
        casesTable.draw()
        
        $('select#filter-ra-select').off('change').on('change', function(e){
            var search_term = $(this).val();
            $('#cases-table').DataTable().columns([5]).search(search_term).draw();
        });
        $('select#gender-filter').off('change').on('change', function(e){
            var search_term = $(this).val();
            const regex = search_term ? `(?=.*${search_term})(?=.*\\b${search_term}\\b)` : ''
            $('#cases-table').DataTable().columns([7]).search(regex, true, false).draw();
        });
        $('select#barangay-filter').off('change').on('change', function(e){
            var search_term = $(this).val();
            $('#cases-table').DataTable().columns([8]).search(`${search_term}-`).draw();
        });
        $('select#age-filter').off('change').on('change', function(e){
            var search_term = $(this).val();
            //$('#cases-table').DataTable().columns([5]).search(search_term).draw();
            var range = document.querySelector('select#age-filter').value.split('-')
            var min = parseInt(range[0]);
            var max = parseInt(range[1]);

            casesTable.column(6).search(function(value, index, rowData, node) {
                var age = parseFloat(value) || 0;
                return (age >= min && age <= max);
            }).draw();
            console.log('dra')
        });
    }
    $('#select-year-data').on('change', (e) => {
        get_dashboard_data(e.target.value)
    })
})
</script>
{% endblock scripts %}