{% load static %}
<header class="app-header border-bottom border-dark border-opacity-25">
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item d-block d-xl-none">
        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
          <i class="bx bx-menu"></i>
        </a>
      </li>
      <li class="nav-item">
        {% comment %} <a class="nav-link nav-icon-hover" href="javascript:void(0)"> {% endcomment %}
          <a class="nav-link nav-icon-hover" href="{% url 'Notification Law Enforcement' %}">
            <i class='bx bx-bell'></i>
            <div class="notification list-notification bg-primary rounded-circle">
            </div>
          </a>
      </li>
    </ul>
    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
      <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
        <h1 id="username" class="mb-0 me-2 fs-5 fw-bold text-alt-cust-color"></h1>
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img id="user-icon" src="" alt="" width="40" height="40" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
            <div class="message-body">
              <div class="d-flex align-items-center py-2 px-4 mb-2 bg-light border-bottom">
                <img id="dropdown-user-icon" src="" alt="Profile" width="45" height="45" class="rounded-circle me-3 border border-2 border-primary">
                <div>
                  <h6 class="mb-0 fw-bold text-dark">{{ request.user.username }}</h6>
                  <small class="text-muted">{{ request.user.email }}</small>
                </div>
              </div>
              <a href="{% url 'profile' %}" class="btn mx-3 mt-2 d-block" style="border: 1px solid #137AFA; color: #137AFA;">Profile</a>
              <a href="{% url 'logout' %}" class="btn mx-3 mt-2 d-block" style="border: 1px solid #137AFA; color: #137AFA;">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>