.sidebar-nav .sidebar-item .sidebar-link.active {
    background-color: #E8A020 !important;
    color: white !important;
}

.sidebar-nav .sidebar-item .sidebar-link.active i {
    color: white !important;
}

.sidebar-nav .sidebar-item.selected .sidebar-link.active {
    background-color: #E8A020 !important;
}

.sidebar-nav .sidebar-item .sidebar-link:hover {
    background-color: #fffbf0 !important;
    color: #E8A020  !important;
}

.sidebar-nav .sidebar-item .sidebar-link:hover i {
    color: #E8A020 !important;
}

/* Default Sidebar Icons and Small Caps */
#sidebarnav .nav-small-cap, 
#sidebarnav .nav-small-cap i,
.sidebar-nav .sidebar-item .sidebar-link i {
    color: #E8A020 !important;
}

.sidebar-nav .sidebar-item .sidebar-link .hide-menu {
    color: #333; /* Dark gray for text readability */
}

.sidebar-nav .sidebar-item .sidebar-link.active .hide-menu {
    color: white !important;
}